<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        @*If the given route is not present*@
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            @*Instead of below tag we can also provide an error component with required styles and functionalities*@
            @*<p role="alert">Sorry, there's nothing at this address.</p>*@
            <ExploreBlazorServer.Pages.CustomError></ExploreBlazorServer.Pages.CustomError>
        </LayoutView>
    </NotFound>
</Router>
